* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #b5d4ff, #f9c8ff);
    min-height: 100vh;
    padding: 40px;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #2f2f2f;
    margin-bottom: 40px;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}


.card {
    background: #ffffff;
    padding: 25px;
    border-radius: 14px;

    border: 4px solid #3c3c3c;
    filter: drop-shadow(0 0 4px #2e2e2e);

    box-shadow:
        inset 0 0 6px rgba(0,0,0,0.18),
        0 8px 18px rgba(0,0,0,0.18);

    transition: 0.3s ease;
}


.card:hover {
    transform: translateY(-6px);
    box-shadow:
        inset 0 0 6px rgba(0,0,0,0.25),
        0 15px 30px rgba(0,0,0,0.22);
}


.photo {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;

    border: 4px solid #2f2f2f; 
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.35));
    box-shadow:
        inset 0 0 6px rgba(0,0,0,0.25),
        0 0 8px rgba(0,0,0,0.35);
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.role {
    color: #666;
    font-size: 0.95rem;
    margin-bottom: 12px;
}

.bio {
    font-size: 0.85rem;
    color: #444;
    margin-bottom: 14px;
    line-height: 1.45;
}

.info {
    color: #555;
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.links {
    margin-top: 12px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 0.85rem;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    transition: 0.25s ease;
}


.github {
    background: #000;
}
.facebook {
    background: #000;
}

.btn:hover {
    opacity: 0.85;
    transform: scale(1.05);
}
